@{
    ViewBag.Title = "Contact";
}

    <div class="masthead text-center">
        <div class="container h-100 pt-4">
            <img class="img-thumbnail pt-5 " src="~/img/contatos.jpg">
        </div>

        <div class="container h-100 pt-5">
            <a href="http://api.whatsapp.com/send?1=pt_BR&phone=5515981206345"><img src="~/img/whats.png" width="100" height="100" class="rounded-circle media-object img-responsive"></a>
            <a href="mailto:arianef.lima@yahoo.com.br"><img src="~/img/email.jpg" width="100" height="100" class="rounded-circle media-object  img-responsive"></a>
         </div>

        <div class="container h-100 pt-5">
            <h2>Me encontre nas Redes Sociais abaixo!</h2>
            <br />
            <a href="https://www.linkedin.com/in/ariane-ferreira-a8b003124/"><img src="~/img/in.png" width="100" height="100" class="rounded-circle media-object img-responsive"></a>
            <a href="https://www.facebook.com/ariane.lima0708?ref=bookmarks"><img src="~/img/face.png" width="100" height="100" class="rounded-circle media-object  img-responsive"></a>
            <a href="https://www.instagram.com/ariane7f/"><img src="~/img/insta.png" width="100" height="100" class="media-object  img-responsive"></a>
        </div>

    </div>



