@{
    ViewBag.Title = "Home Page";
}

    

 <div class="masthead text-center">
        <div class="container h-100 pt-4">
            <img class="rounded-circle pt-5" src="~/img/ariane.jpg">
            <h1>Ariane Lima</h1>
            <p class="lead">Seja bem vindo(a) ao meu portifolio pessoal, sou Ariane e tenho 24 anos.</p>
            <p>
                Sou formada em Ciências contábeis e atualmente estou cursando o sexto semestre de Analise e desenvolvimento de Sistemas na Fatec de
                Sorocaba. Com esse curso encontrei a area onde me sinto encantada e desafiada todos os dias e através dele recebi a oportunidade de estagiar
                na empresa GFT, uma empresa de consultoria em TI que eu conheci antes mesmo de iniciar minha segunda graduação e ja tinha o sonho de um dia poder fazer parte do seu time de colaboradores, hoje estou vivendo esse sonho!!
            </p>

        </div>

    </div>

